@inject AppState AppState
@inject NavigationManager Navigation
@inject NavigationManager NavigationManager
@implements IDisposable


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-4" href="">🏠︎ TaskManager</a>
        <p class="text-white bg-dark rounded-top fs-6 p-2 mt-2"> @AppState.UserEmail @(AppState.IsLoggedIn ? "" : "Oturum Kapalı")</p>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button> 
    </div>
</div>


@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

  
}
