@page "/"

<div class="container page-transition mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-3">Görev Yönetim Sistemi</h1>
        <p class="lead">Projelerinizi ve görevlerinizi kolayca yönetin.</p>

        <NavLink class="btn btn-outline-light mt-3" href="/tasks">Görev Listesine Git</NavLink>
    </div>
</div>
